body {
  font-family: "Aileron";
}

.container {
  /* background: rgb(77, 0, 2);
    background: linear-gradient(
      90deg,
      rgba(77, 0, 2, 1) 0%,
      rgba(255, 99, 116, 1) 50%,
      rgba(77, 0, 2, 1) 100%
    ); */
  background-color: #fff6aa;
  height: 100vh;
  width: 100vw;
}
.printarea {
  position: absolute;
  /* background-color: #4d0002; */
  /* border: 1px solid black; */
  top: 500;
  bottom: 0;
  left: 380px;
  right: 0;
  background-color: #fff6aa;
  width: 380px;
  height: 500px;
}

.area {
  position: absolute;
  /* background-color: #4d0002; */
  /* border: 1px solid black; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 425px;
  height: 582px;
}

/* .area img {
    padding: 5px;
    background-color: white;
    position: relative;
  } */

.img1 {
  position: absolute;
  margin: 5px;
  top: 70px;
  left: 105px;
  height: 100px;
  width: 100px;
}

.img2 {
  position: absolute;
  margin: 5px;
  top: 70px;
  left: 210px;
  height: 100px;
  width: 100px;
}

.img3 {
  position: absolute;
  margin: 5px;
  top: 70px;
  left: 315px;
  height: 100px;
  width: 100px;
}

.img4 {
  position: absolute;
  margin: 5px;
  top: 175px;
  left: 0px;
  height: 100px;
  width: 100px;
}

.img5 {
  position: absolute;
  margin: 5px;
  top: 175px;
  left: 105px;
  height: 100px;
  width: 100px;
}

.img6 {
  position: absolute;
  margin: 5px;
  top: 175px;
  left: 210px;
  height: 100px;
  width: 100px;
}

.img7 {
  position: absolute;
  margin: 5px;
  top: 175px;
  left: 315px;
  height: 100px;
  width: 100px;
}

/* .img8 {
    position: absolute;
    margin: 5px;
    top: 280px;
    left: 0px;
    height: 100px;
    width: 100px;
    background-color: red;
  } */

.img8 {
  position: absolute;
  margin: 5px;
  top: 280px;
  left: 105px;
  height: 100px;
  width: 100px;
}

.img9 {
  position: absolute;
  margin: 5px;
  top: 280px;
  left: 210px;
  height: 100px;
  width: 100px;
}

.img10 {
  position: absolute;
  margin: 5px;
  top: 280px;
  left: 315px;
  height: 100px;
  width: 100px;
}
.img11 {
  position: absolute;
  margin: 5px;
  top: 385px;
  left: 0px;
  height: 100px;
  width: 100px;
}

.img12 {
  position: absolute;
  margin: 5px;
  top: 385px;
  left: 105px;
  height: 100px;
  width: 100px;
}

.img13 {
  position: absolute;
  margin: 5px;
  top: 385px;
  left: 315px;
  height: 100px;
  width: 100px;
}

.red {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 175px;
  width: 110px;
}

.block1 {
  background-color: #890e0e;
  height: 70px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 110px;
}

.block2 {
  background-color: #721a22;
  height: 70px;
  width: 210px;
  position: absolute;
  top: 0;
  left: 215px;
}

.block3 {
  background-color: #721a22;
  position: absolute;
  margin-top: 5px;
  top: 280px;
  left: 5px;
  height: 100px;
  width: 100px;
}

.block4 {
  background-color: #89090c;
  position: absolute;
  margin: 5px;
  top: 490px;
  left: 0px;
  height: 85px;
  width: 100px;
}

.block5 {
  background-color: #961c1d;
  position: absolute;
  margin: 5px;
  top: 490px;
  left: 105px;
  height: 85px;
  width: 100px;
}

.block6 {
  background-color: #961c1d;
  position: absolute;
  margin: 5px;
  top: 385px;
  left: 210px;
  height: 190px;
  width: 100px;
}

.block7 {
  background-color: #721a22;
  position: absolute;
  margin: 5px;
  top: 490px;
  left: 315px;
  height: 85px;
  width: 100px;
}
