body {
  font-family: "Aileron";
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: calc(20px + 8vmin);
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90pt;
}

.subtitle {
  margin-top: -20px;
  font-weight: lighter;
}

.App {
  text-align: center;
}

.header {
  background-color: whitesmoke;
  
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
  font-size: calc(10px + 1.5vmin);

  /* color: white; */
}

/* .buttonCase {
  background-color: black;
  margin: 10px
} */
.logo {
  margin-top: -18px;

  position: relative;
  top: 10pt;

  left: -5pt;
}

.spotifyButton {
  margin-left: -105px;
  position: absolute;
  padding: 10pt;
  min-height: 20pt;

  padding-left: 15pt;
  padding-right: 15pt;

  font-size: 12pt;
  border-radius: 5pt;
  text-decoration: none;
  color: white;
  background-color: black;

  /* height: 40px; */
}

.spotifyButton:hover,
.spotifyButton:active,
.spotifyButton:focus {
  /* margin-left: -105px; */
  position: absolute;
  padding: 10pt;
  min-height: 20pt;

  padding-left: 15pt;
  padding-right: 15pt;

  font-size: 12pt;
  border-radius: 5pt;
  text-decoration: none;
  background-color: #1db954;
  color: black;
  /* padding: 10pt;
  padding-left: 15pt;

  padding-right: 15pt;
  border-radius: 5pt; */
  text-decoration: none;
}

.about {
  position: absolute;
  top: 0px;
  right: calc(10px + 5vmin);
  font-weight: lighter;
}

.about a {
  color: black;
  text-decoration: none;
}

.about a:hover,
.about a:active,
.about a:focus {
  /* color: red; */
  text-decoration: underline;
  /* background-color: none; */
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
